@use './variables.scss' as *;
@use './components/header.scss';
@use './components/footer.scss';
@use './components/button.scss';
@use './components/card.scss';
@use './homepage.scss';
@use './about-us.scss';
@import '../../public/libs/blaze-slider/blaze.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font-nunito);
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
}
.vertex-globale {
  // max-width: 1440px;
  // margin: 0 auto;
  width: 100%; 
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  width: 100%;
  margin: 0;
}
.section-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
.section-padding {
  padding: 48px 16px 64px
}
.section-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: $color-text-dark;
  margin-bottom: 24px;
  width: 100%;
  font-family: sans-serif;
}
// Responsive breakpoints for better mobile experience
@media (min-width: 768px) {
    // .container {
    //   padding: 0 40px;
    // }

  .section-container {
    padding: 0 40px;
  }

  .section-padding {
    padding: 48px 32px 64px;
  }
}
@media (min-width: 1024px) {
  // .container {
  //   padding: 0 60px;
  // }

  .section-container {
    padding: 0 60px;
  }

  .section-padding {
    padding: 48px 60px 64px;
  }
}
@media (min-width: 1440px) {
  .vertex-globale{
    width : 1440px;
    margin : 0 auto;
  }
  .section-container {
    max-width: 1280px;
    padding: 0 32px;
  }
  .section-padding {
    padding: 48px 80px 64px;
  }
}